# virtual env
venv/
.env/
pyvenv.cfg

# data and outputs
data/
results/

# notebook checkpoints and caches
.ipynb_checkpoints/
checkpoints/
__pycache__/
*.pyc

# tokenizers / cache
.cache/

# Ignore model folders
models/

# Ignore analysis folder
analysis/

# Ignore credential 
notebooks/credentials.json
notebooks/token.json