# virtual env
venv/
.env/
pyvenv.cfg

# data and outputs
data/
results/

# only ignore CSV files from data folder
data/*.csv

# notebook checkpoints and caches
.ipynb_checkpoints/
checkpoints/
__pycache__/
*.pyc

# tokenizers / cache
.cache/

# Ignore model folders
models/saved_model/
models/saved_model_aug/

